<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @user, url: {action: "create"} do |f| %>
    
      <div class="form-group">
        <%= f.text_field :name, :placeholder => "Name", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.email_field :email, :placeholder => "Email", class: "form-control" %>
      </div>
    
      <%= f.submit "Submit", class: "btn btn-success" %>
    
    <% end %>
  </div>
</div>

