// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url("http://res.cloudinary.com/dq2bsl9c5/image/upload/v1454235877/road_hn8bmt.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

form {
  margin-top: 35%;
}