// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url("http://res.cloudinary.com/dq2bsl9c5/image/upload/v1454235877/road_hn8bmt.jpg") no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
  h3 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 4em;
  }
  
  p {
    font-size: 1em;
    margin-top: 4em;
    color: #ccc;
    text-shadow: 1px 0px #fff;
  }
}

form {
  margin-top: 35%;

  .square-field {
    border-radius: 0;
  }
}

